# System
PORT=
NODE_ENV=
# Icecast
ICECAST_HOST=
ICECAST_PORT=
ICECAST_MOUNT=
ICECAST_USER=
ICECAST_PASS=
# Kafka
KAFKA_CLIENT_ID=
KAFKA_BROKERS=
KAFKA_GROUP_ID=
KAFKA_USERNAME=
KAFKA_PASSWORD=
# Redis
REDIS_URL=
# BullMQ
BULL_QUEUE_NAME