# System
PORT=
NODE_ENV=

# Icecast
ICECAST_HOST=
ICECAST_PORT=
ICECAST_MOUNT=
ICECAST_USER=
ICECAST_PASS=

# Kafka (Aiven)
KAFKA_CLIENT_ID=
KAFKA_BROKERS=
KAFKA_GROUP_ID=

KAFKA_USERNAME=
KAFKA_PASSWORD=

# Redis (Upstash)
REDIS_URL=