# System
PORT=3000
# Ice Cast
ICECAST_HOST=
ICECAST_PORT=
ICECAST_MOUNT=
ICECAST_USER=
ICECAST_PASS=
# Radio
RADIO_PIPE_PATH=/tmp/radio_pipe
FFMPEG_PATH=ffmpeg
# Audio
FFMPEG_SAMPLE_RATE=44100
FFMPEG_AUDIO_BITRATE=128k
# Kafka
KAFKA_CLIENT_ID=
KAFKA_BROKERS=
KAFKA_GROUP_ID=
KAFKA_USERNAME=
KAFKA_PASSWORD=
# REDIS
REDIS_URL=
# BullMQ
BULL_QUEUE_NAME=radio-queue